{% extends "economiza/base.html" %}
{% block body_block %}
{% load static %}
<div class="jumbotron">
    <h1 class="text-center">Economiza! <img src="{% static 'images/icons/money.png' %}" style="height: 50px;"></h1>
    <h2 class="text-center" style="margin-top: 50px">Um sistema feito com o objetivo de controlar seus gastos mensais,
         podendo assim ter uma liberdade financeira! <img src="{% static 'images/icons/fly-money.png' %}" style="height: 50px;"></h2>
    <h3 class="text-right" style="margin-top: 50px;">Criado por: Gabriel Kerchner</h3>
</div>
{% endblock body_block %}