{% extends "economiza/base.html" %}
{% block body_block %}
{% load static %}

<div class="box">
    <div class="row">
        <div class="col-4">
            <h3 style="margin-top: 50px;">Mensal: {% if user.perfil.limite %} R$ {% endif %}<span id='limit_globe'style="color: #85bb65">{{user.perfil.limite}}</span></h3>
        </div>
        <div class="col-4" style="margin-left: -60px">
            {% if limites_categorias %}
            <h3 style="margin-bottom: 30px" class="text-right"><strong>Limites Disponíveis</strong></h3>
            {% for limite in limites_categorias %}
            <h4 class="text-right"><span id="category-limit" class="text-center">{{limite.categoria_nome}}</span>: {% if limite.limite_categoria %} R$ {% endif %}<span class="category_limit_id text-right" id="value_category_limit_{{limite.id}}" data-id="{{limite.id}}" style="color: #85bb65;">{{limite.limite_categoria}}<br></span></h4>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-4" style="margin-left: 60px">
            <button type="button" style="margin-top: 60px;" class="btn btn-info" id="add_gasto" data-url="{% url 'economiza:add_gasto' %}"><img src="{% static 'images/icons/shopping-cart-add-button.png' %}" id="icon" style=" filter: invert(1);"> Adicionar um gasto</button>
        </div>
    </div>
</div>


<table class="table table-hover table-dark text-center" id="gasto_table">
    <thead>
        <tr>
        <th scope="col">Data</th>
        <th scope="col">Categoria</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço (R$)</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Total (R$)</th>
        <th scope="col">Excluir</th>
        </tr>
    </thead>
    {% if gastos %}
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <h5 for='sel2'><img src="{% static 'images/icons/magnifier.png' %}" style="height: 25px;"> Filtrar por Categoria:</h5>
                <select class="form-control" id="filter_category">
                    <option value="0">Todas</option>
                    {% for categoria in limites_categorias %}
                    <option value="{{categoria.id}}">{{categoria.categoria_nome}}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        <div class="col-4">
            <div class="form-group">
                <h5 for="sel1"><img src="{% static 'images/icons/magnifier.png' %}" style="height: 25px;"> Filtrar por Mês: </h5>
                <select class="form-control" id="filter_month">
                    <option value="0">Todos</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <h5 for='sel3'><img src="{% static 'images/icons/magnifier.png' %}" style="height: 25px;"> Filtrar por Ano:</h5>
                <select class="form-control" id="filter_year">
                    <option value="0">Todos</option>
                    {% for gasto in gastos %}
                    {% ifchanged gasto.data_do_gasto.year %} 
                    <option value="{{gasto.data_do_gasto.year}}">{{gasto.data_do_gasto.year}}</option>
                    {% endifchanged %}
                    {% endfor %}
                </select>
            </div>
        </div>
        
    </div>
    
    {% for gasto in gastos %}
    <tbody class="text-center" style="background-color: #525252"> 
        <tr>
        <td>{{gasto.data_do_gasto}}</td>
        <td id="{{gasto.categoria.id}}" class="id_category_table" data-id='{{gasto.categoria.id}}'>{{gasto.categoria.categoria_nome}}</td>
        <td>{{gasto.descricao}}</td>
        <td style="color: #85bb65">{{gasto.preco|floatformat:2}}</td>
        <td>{{gasto.quantidade}}x</td>
        <td class='total_field' id="total_field_{{gasto.categoria.id}}" data-id='{{gasto.categoria.id}}' style="color: #85bb65">{{gasto.total_item_filter|floatformat:2}}</td>
        <td>
        <button type="button" class="delete_gasto btn btn-sm btn-danger" data-id="{% url 'economiza:delete_gasto' gasto.pk %}" style="background-color: transparent; border: none !important;">
            <img src="{% static 'images/icons/x-button.png' %}" style="height: 20px;" alt="">
        </button></td>
        </tr>
        <div id="update_table_gasto"></div>
    </tbody>
    {% endfor %}
    <div id="total" style="display: none;"></div>
    {% else %}
    <h3>Nenhum gasto cadastrado!</h3>
    {% endif %}

</table>
   
   </h1>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
    

{% endblock body_block %}